body {
  background-image: url('https://img.wallpapersafari.com/desktop/1600/900/62/27/zetRsl.jpg');
}

.App {
  text-align: center;
}

.character-window {
  background-image: url('./Images/texture.jpeg');
  text-align: center;
  font-family: luminari;
  border: 20px ridge #c8a000;
  margin-left: 67%;
  margin-top: 2.5%;
  margin-right: 1%;
  padding-bottom: 50px;
  position: fixed;
  min-width: 30%;
  top: 0;
  bottom: 0;
  overflow: auto;
}

/*Character Window Text Fields */
.cw-title {
  background-image: url('./Images/gemtexture.jpeg');
  color: white;
  text-shadow: 0.15em 0 black;
  font-size: 25px;
  font-weight: 900;
  border: 5px outset #ffe999;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 14%;
  max-width: 70%;
  min-height: 5.5%;
}
.cw-name {
  background-image: url('./Images/namebg.jpeg');
  color: white;
  text-shadow: 0.15em 0 black;
  font-size: 18px;
  font-weight: 800;
  border: 5px outset #ffe999;
  max-width: 50%;
  min-height: 4%;
  margin-left: 24%;
  margin-bottom: 15px;
  margin-top: 10px;
}
.cw-class {
  background-image: url('./Images/classbg.jpeg');
  color: white;
  text-shadow: 0.15em 0 black;
  font-size: 18px;
  font-weight: 800;
  border: 5px outset #ffe999;
  max-width: 50%;
  min-height: 4%;
  margin-left: 24%;
  margin-bottom: 15px;
  margin-top: 15px;
}
.cw-equip {
  background-image: url('./Images/equipbg.jpeg');
  color: white;
  text-shadow: 0.15em 0 black;
  font-size: 18px;
  font-weight: 800;
  border: 5px outset #ffe999;
  max-width: 50%;
  min-height: 4%;
  margin-left: 24%;
  margin-bottom: 15px;
  margin-top: 15px;
}
.cw-spell {
  background-image: url('./Images/spellsbg.jpeg');
  color: white;
  text-shadow: 0.15em 0 black;
  font-size: 18px;
  font-weight: 800;
  border: 5px outset #ffe999;
  max-width: 50%;
  min-height: 4%;
  margin-left: 24%;
  margin-bottom: 15px;
  margin-top: 15px;
}
.cw-bg {
  background-image: url('./Images/rubytexture.jpeg');
  color: white;
  text-shadow: 0.15em 0 black;
  font-size: 18px;
  font-weight: 800;
  border: 5px outset #ffe999;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 15px;
  margin-top: 15px;
  min-height: 10%;
}
/*End Character Window Text Fields */

.char-desc{
  position: fixed;
  top: 0;
  width: 80%;
  left: 20%;
  top: 10%;
}

.character-window img {
  height: 300px;
  width: 300px;
  border: 10px double #F7CE00;
  background: linear-gradient(to bottom right, #814d00, #ffe205e7, white, #ffe205e7, #814d00);
}

.form-input {
  font-family: luminari;
  font-size: 18px;
  margin-right: 18px;
  border: 5px double #F7CE00;
  outline: none;
}

.form-button {
  background-image: url('./Images/goldtexture.jpg');
  color: white;
  font-family: luminari;
  text-shadow: 0.15em 0 black;
  font-size: 19px;
  font-weight: 900;
  border: 5px outset #ffe100fc;
  cursor: pointer;
}

.navbar{
  display: flex;
  position: fixed;
  justify-content: space-evenly;
  align-items: stretch;
  width: 100%;
  top: 0;
  background-color: #708090;
}

.navbutton{
  background-color: #808080;
  width: fit-content;
  font-size: 25px;
  border: 1px solid black;
 
}

.navbutton:hover{
  background-color: #FFFAFF;
  transform: scale(1.1);
  cursor: pointer;
}


.class-section{
  display: grid;
  grid-template: 20% / 80%;
}

.class-container{
  margin-top: 4%;
  margin: 1%;
  padding: 10px;
  gap: 11px;
  flex-wrap: wrap;
  width: min-content; 
  min-width: 650px;
}

.char-class{
  height: 35px;
  width: 200px;
  border: 1px solid black;
  text-align: center;
  flex: auto;
  background: linear-gradient(185deg, teal, silver);
}

.char-class:hover{
  transform: scale(1.1);
  background: linear-gradient(185deg, teal, gold);
}

.equip-container{
  margin: 4%;
  display: flex;
  flex-wrap: wrap;
  gap: 11px;
}

.equip{
  flex: auto;
  border: 1px solid black;
  text-align: center;
  background: linear-gradient(185deg, teal, silver);
  width: 200px;
}

.equip:hover{
  transform: scale(1.1);
  background: linear-gradient(185deg, teal, gold);
}

.spell-container{
  margin: 5%;
  display: flex;
  flex-wrap: wrap;
  gap: 11px;
}

.spell{
  flex: auto;
  border: 1px solid black;
  text-align: center;
  background: linear-gradient(185deg, teal, silver);
  width: 200px;
}

.spell:hover{
  transform: scale(1.1);
  background: linear-gradient(185deg, teal, gold);
}

.spell-desc{
  font-size: 8px;
}

.spell-info-hidden {
  display: none;
}

.spell-info-visible {
  display: block;
}

.stories-container{
  margin: 5%;
  display: flex;
  flex-wrap: wrap;
  gap: 11px;
}

.story {
  flex: auto;
  border: 1px solid black;
  text-align: center;
  background: linear-gradient(185deg, teal, silver);
  width: 200px;
}

.story:hover{
  transform: scale(1.1);
  background: linear-gradient(185deg, teal, gold);
}