body {
  display: grid;
}

.App {
  text-align: center;
}

.character-window {
  text-align: center;
  border: 5px solid black;
  margin-left: 65%;
}

.character-window img {
  height: 250px;
  width: 250px;
}

.char-window-button{ 
  margin-bottom: 20px;
  margin-left: 80%;
}
