/* body {
  display: grid;
}
 */
.App {
  text-align: center;
}

.character-window {
  text-align: center;
  border: 5px solid black;
  margin-left: 65%;
}

.character-window img {
  height: 250px;
  width: 250px;
  border: 2px solid black;
}

/* .char-window-button { 
  position: relative;
  margin-bottom: 20px;
  margin-left: 80%;
  border: 4px solid #0082FF;
  border-radius: 15px;
  background-image: linear-gradient(to bottom right, #525252, #B3B3B3, #E5E5E5);
  color: #00F9FF;
  font-size: 1.15rem;
  font-weight: 550;
} */
.background-title {
  text-align: center;
}

.navbar{
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #708090;
}

.navbutton{
  flex: auto;
  background-color: #808080;
  font-size: 25px;
  border: 1px solid black;
  padding: 7px;
}

.navbutton:hover{
  background-color: #FFFAFF;
}

.char-container{
  display: flex;
  margin-top: 5%;
  flex-wrap: wrap;
}

.char-class{
  border: 1px solid black;
  flex: auto;
  width: 10%;

}

